html, body {
  height: 100%;
}
.reset-padding {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.min-height {
  min-height: 900px
}

.menubar{}
.content{}
.content-left{}
.content-mid{}
.content-right{}

.menu-text {

}

.user-info {
  padding: 0px !important;
}

.round-border {
  border: 15px solid #fff;
  border-radius: 100px;
  margin-top: 15px;
}

.smedia-theme {
  background-color: #0077B5;
}

.post-profile-pic {
  border: 5px solid darkgray;
  border-radius: 40px 40px 40px 40px;
}

.user-summary {
  margin-bottom: 10px;
}

.form-label {
  padding: 10px;
  min-width: 180px;
}

.required:after {
  content:"*";
  color:red;
}
