html, body {
  height: 100%;
}
.reset-padding {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.min-height {
  min-height: 900px
}

.menubar{}
.content{}
.content-left{}
.content-mid{}
.content-right{}

.menu-text {

}