html, body {
  height: 100%;
}
.reset-padding {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.min-height {
  min-height: 900px
}

.menubar{}
.content{}
.content-left{}
.content-mid{}
.content-right{}

.menu-text {

}

.user-info {
  padding: 0px !important;
}

.round-border {
  border: 15px solid #fff;
  border-radius: 100px;
  margin-top: 15px;
}

.smedia-theme {
  background-color: #0077B5;
}